<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.logistics.dao.LogisticsMapper">
  <resultMap id="BaseResultMap" type="cn.logistics.entity.LogisticsEntity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="logistics_no" jdbcType="VARCHAR" property="logisticsNo" />
    <result column="express_compan_code" jdbcType="VARCHAR" property="expressCompanCode" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="is_check" jdbcType="VARCHAR" property="isCheck" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="express_compan" jdbcType="VARCHAR" property="expressCompan" />
  </resultMap>

  <sql id="Base_Column_List">
    id, logistics_no, express_compan_code, status, is_check, order_id, express_compan
  </sql>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from logistics
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <delete id="deleteByOrderId" parameterType="java.lang.Long">
    delete from logistics
    where order_id = #{orderId}
  </delete>

  <insert id="insertSelective" parameterType="cn.logistics.entity.LogisticsEntity" useGeneratedKeys="true" keyProperty="id">
    insert into logistics
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="logisticsNo != null">
        logistics_no,
      </if>
      <if test="expressCompanCode != null">
        express_compan_code,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="isCheck != null">
        is_check,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="expressCompan != null">
        express_compan,
      </if>
      <if test="data != null">
        data,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="logisticsNo != null">
        #{logisticsNo,jdbcType=VARCHAR},
      </if>
      <if test="expressCompanCode != null">
        #{expressCompanCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="isCheck != null">
        #{isCheck,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="expressCompan != null">
        #{expressCompan,jdbcType=VARCHAR},
      </if>
      <if test="data != null">
        #{data,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.logistics.entity.LogisticsEntity">
    update logistics
    <set>
      <if test="logisticsNo != null">
        logistics_no = #{logisticsNo,jdbcType=VARCHAR},
      </if>
      <if test="expressCompanCode != null">
        express_compan_code = #{expressCompanCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="isCheck != null">
        is_check = #{isCheck,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="expressCompan != null">
        express_compan = #{expressCompan,jdbcType=VARCHAR},
      </if>
      <if test="data != null">
        data = #{data,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="findByOrderId" resultMap="BaseResultMap" parameterType="_long">
    select <include refid="Base_Column_List"/> from logistics where order_id = #{val}
  </select>

  <update id="updateStatusByOrderId">
    update logistics set status = #{status} where order_id = #{orderId}
  </update>

  <select id="findByNumber" parameterType="string" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/> from logistics where number = #{value}
  </select>

  <update id="updateByNumber" parameterType="cn.logistics.entity.LogisticsEntity">
    update logistics
    <set>
      <if test="expressCompanCode != null">
        express_compan_code = #{expressCompanCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="isCheck != null">
        is_check = #{isCheck,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="expressCompan != null">
        express_compan = #{expressCompan,jdbcType=VARCHAR},
      </if>
      <if test="data != null">
        data = #{data,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where logistics_no = #{logisticsNo,jdbcType=VARCHAR}
  </update>
</mapper>